.venv/
.wsl_venv/
__pycache__/
.pytest_cache/

.ipynb_checkpoints/

*.log

data
data/audit
data/landing/
data/bronze/
data/silver/
data/gold/

.env

.vscode/settings.json

dist/
build/
app_test
app_test.ipynb
__pycache__/
*.pyc
.ipynb_checkpoints/
work_flow.txt

audit/
audit/pipeline_runs
audit/pipeline_runs/
retail
retail.duckdb

__pycache__/

*.pyc

*.duckdb

target/

logs/

dbt_packages/

.env

.vscode/

.ipynb_checkpoints/

*.csv

*.db

*.log